<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ThreatLens - Analyse</title>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<style>
  .note {
  font-family: 'Courier New', monospace;
  display: inline-block;               
  color: #3fc9ff;
}

</style>
<body>
  <nav class="navbar">
    <div class="logo">ThreatLens</div>
    <ul class="nav-links">
      <li><a href="home">Home</a></li>
      <li><a href="analyse">Analyse</a></li>
            <li><a href="history">History</a></li>

      <li><a href="about">About us</a></li>
      <li><a href="contact">Contact us</a></li>
      {%if session['user_id']%}
      <li><a href="logout">Logout</a></li>
      {%else%}
      <li><a href="login">Login</a></li>
      <li><a href="signup">Signup</a></li>
      {%endif%}
    </ul>
  </nav>

  <section class="container">
    <div class="left-box">
              <h1>ANALY<spane class="note">SE</spane></h1>
      <p>Enter the profile username tobegin analysis!</p>
<hr>
      <form action="analyse_username" method="get">
        <label>Username</label>
        <input type="text" id="username" name="username" />
        <button class="btn-login" onclick="">Start</button>
      </form>
<hr><br><br><br>
       <p>Enter the Tweets to analyese emotions sentiment!</p>
<hr>
      <form action="detect_emotion" method="get">
        <label>Tweet</label>
        <input type="text" id="tweet" name="tweet" />
        <button class="btn-login" onclick="">Start</button>
      </form>
    </div>

    <div class="right-image">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="shield">
    </div>
  </section>
</body>
</html>
